1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [15]:
def fa():
    for i in range(1,100):
        if i%3==0 and i%5 == 0:
            print("MickeyMouse")
        elif i%3 == 0:
            print("Mickey")
        elif i%5==0:
            print("Mouse")
        else:
            print(i)
def fanew():
    l1=[]
    for i in range(1,100):
        if i%3==0 and i%5 == 0:
            l1.append("MickeyMouse")
        elif i%3 == 0:
            l1.append("Mickey")
        elif i%5==0:
            l1.append("Mouse")
        else:
            l1.append(i)
    return tuple(l1)
def fb(l1):
    l1 = list(l1)
    for i in range(0,99):
        if l1[i]=="Mickey":
            l1[i] = "Donald"
        elif l1[i]=="Mouse":
            l1[i] = "Duck"
    return tuple(l1)

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [16]:
def swap(a,b):
    return b,a

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [19]:
def fdistance(a,b):
    x1 = list(a)
    x2 = list(b)
    return ((x1[0]-x2[0])**2 +(x1[1]-x2[1])**2)**0.5

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [23]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
def fcount(s):
    s=s.lower()
    i = 0
    while i <= len(s):
        c = 0
        d = s[i]
        for j in range(len(s)):
            if s[j] == s[i]:
                c += 1
        print(s[i]," occures ",c," times.")
        s = s.replace(s[i],'')
        i+=1
fcount(s)

w  occures  2  times.
i  occures  14  times.
e  occures  22  times.
a  occures  7  times.
p  occures  8  times.
o  occures  13  times.
r  occures  17  times.
h  occures  9  times.
   occures  41  times.
n  occures  10  times.
b  occures  5  times.
f  occures  10  times.
1  occures  2  times.
0  occures  2  times.
u  occures  9  times.
l  occures  6  times.
s  occures  9  times.
c  occures  3  times.
y  occures  2  times.
d  occures  3  times.
m  occures  12  times.
t  occures  19  times.

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [28]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
def funique(x):
    k = 0
    for i in range(len(x)):
        d = x[i]
        c = 0
        for j in range(len(l)):
            if x[i] == x[j]:
                c += 1
        if c == 1:
            print(x[i],"is unique!")
            k += 1
    print("There are ", k ," unique number.")

58 is unique!
74 is unique!
96 is unique!
64 is unique!
10 is unique!
24 is unique!
19 is unique!
33 is unique!
86 is unique!
99 is unique!
18 is unique!
47 is unique!
88 is unique!
55 is unique!
54 is unique!
8 is unique!
79 is unique!
81 is unique!
57 is unique!
37 is unique!
1 is unique!
9 is unique!
95 is unique!
90 is unique!
98 is unique!
39 is unique!
16 is unique!
82 is unique!
92 is unique!
41 is unique!
30 is unique!
94 is unique!
5 is unique!
72 is unique!
87 is unique!
75 is unique!
53 is unique!
There are  37  unique number.

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [31]:
def f2(x):
    return x*x
def f3(x):
    return x*x*x
def f6(f1,f2,x):
    return f2(f1(x))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [36]:
x1 = []
for i in range(11):
    x1.append(i**3)
x2 = [i**3 for i in range(11)]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [41]:
lp = [[3,4,5]]
for i in range(3,100):
    for j in range(4,i):
        for k in range(100):
            if i*i+j*j==k*k:
                lp.append([i,j,k])
lp=tuple(lp)
lp

([3, 4, 5],
 [8, 6, 10],
 [12, 5, 13],
 [12, 9, 15],
 [15, 8, 17],
 [16, 12, 20],
 [20, 15, 25],
 [21, 20, 29],
 [24, 7, 25],
 [24, 10, 26],
 [24, 18, 30],
 [28, 21, 35],
 [30, 16, 34],
 [32, 24, 40],
 [35, 12, 37],
 [36, 15, 39],
 [36, 27, 45],
 [40, 9, 41],
 [40, 30, 50],
 [42, 40, 58],
 [44, 33, 55],
 [45, 24, 51],
 [45, 28, 53],
 [48, 14, 50],
 [48, 20, 52],
 [48, 36, 60],
 [52, 39, 65],
 [55, 48, 73],
 [56, 33, 65],
 [56, 42, 70],
 [60, 11, 61],
 [60, 25, 65],
 [60, 32, 68],
 [60, 45, 75],
 [63, 16, 65],
 [63, 60, 87],
 [64, 48, 80],
 [68, 51, 85],
 [70, 24, 74],
 [72, 21, 75],
 [72, 30, 78],
 [72, 54, 90],
 [72, 65, 97],
 [75, 40, 85],
 [76, 57, 95],
 [77, 36, 85],
 [80, 18, 82],
 [80, 39, 89],
 [84, 13, 85],
 [84, 35, 91])

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [45]:
def fnorm(x):
    x = list(x)
    s = 0
    for i in range(len(x)):
        s += x[i]
    for i in range(len(x)):
        x[i] /= s
    return x
x=(1,1,1)

[0.3333333333333333, 0.3333333333333333, 0.3333333333333333]